@use 'variables';

/* BODY SELECTORS */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
}

ul {
  padding-inline-start: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* HEADER SELECTORS */

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 2.5em;
}

header {
  height: 50px;
  background-color: #3d3d3d;
  margin-top: 15px;
   .nav-container {
    display: flex;
    justify-content: center;
}    li {
       width: 201px;
       display: flex;
       align-items: center;
       height: 50px;
       border-left: 1px solid black;
       justify-content: center;
       &:hover {  
        background-color: black;
        cursor: pointer;
}      &:last-child {
        border-right: 1px solid black;
}}}

/* MAIN SECTION SELECTORS */

.info {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, minmax(1fr, 350px));
    grid-template-areas: 
    "one one one"
    "two thr fou"
    "fiv fiv fiv";
    gap: 20px;
    &__header {
        text-align: center;
        color: #306aa7;
        font-size: 1.75em;
        text-transform: uppercase;
        margin-top: 70px;
        grid-area: one;
}
    .two {
    grid-area: two;
}
    .three {
    grid-area: thr;
}
    .four {
    grid-area: fou;
}
    .five {
    grid-area: fiv;
    width: 80%;
    margin: 0 auto;
     >p {
        text-align: center;
        width: 50%;
        min-width: 400px;
        margin: 70px auto 0;
        font-size: 1.05rem;
     }
     >a {
        width: 125px;
        height: 47px;
        border-radius: 5px;
        color: white;
        background-color: #3d3d3d;
        text-decoration: none;
        margin: 10px auto 45px;
        display: block;
        text-align: center;
        padding: 13px 0;
     }}
    img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 200px;
    }
    figcaption {
    text-align: center;
    font-size: 1.55rem;
    margin-top: 10px;
}}

/* FOOTER SELECTORS */

footer {
  padding: 20px 0 70px;
   .footer-container {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto;
    column-gap: 25px;
    li {
       a {
        color: grey;
        font-size: 1.25rem;
       }}}}









