@use 'var';

/* BODY SELECTORS */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
}

ul {
  padding-inline-start: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* HEADER SELECTORS */

h1 {
  @include var.text($m: 30px auto 0, $fs: 2.5em);
}

header {
  height: 50px;
  background-color: var.$gray;
  margin-top: 15px;
   nav {
    @extend %height;
     .nav-container {
    @extend %height;
    @extend %flex;
}    li {
       @extend %height;
       width: 201px;
       @extend %flex;
       border-left: var.$border;
       &:hover {  
        background-color: black;
        cursor: pointer;
}      &:last-child {
        border-right: var.$border;
}}}}

/* MAIN SECTION SELECTORS */

.info {
    justify-content: center;
    display: grid;
    @include var.width($w: 80%);
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-template-areas: 
    "one one one"
    "two thr fou"
    "fiv fiv fiv";
    gap: 20px;
    &__header {
        @include var.text($m: 70px auto 0, $fs: 1.75em);
        color: #306aa7;
        text-transform: uppercase;
        grid-area: one;
}
    .two {
    grid-area: two;
}
    .three {
    grid-area: thr;
}
    .four {
    grid-area: fou;
}
    .five {
    grid-area: fiv;
    @include var.width($w: 80%);
     >p {
        @include var.text($m: 70px auto 0, $fs: 1.05rem);
        width: 125px;
        min-width: 400px;
     }
     >a {
        height: 47px;
        border-radius: 5px;
        color: white;
        background-color: var.$gray;
        display: block;
        padding: 13px 0;
        text-align: center;
        @include var.width($m: 10px auto 45px,$w: 125px);
     }}
    img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 200px;
    }
    figcaption {
    @include var.text($m: 10px auto 0, $fs: 1.55rem);
}}

/* FOOTER SELECTORS */

footer {
  padding: 20px 0 70px;
   .footer-container {
    display: flex;
    justify-content: space-between;
    @include var.width($w: 45%);
    column-gap: 15px;
    li {
      width: 100%;
       a {
        color: grey;
        font-size: 1.25rem;
        width: 100%;
        display: block;
        text-align: center
       }}}}

/* RESPONSIVE */

@media only screen and (min-width: 1200px) {
 
  .info {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
  }
}

@media only screen and (min-width: 992px) {
 
  .info {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) {

footer {
.footer-container {
    @include var.width($w: 100%);
    justify-content: center;
}}
}

@media only screen and (min-width: 320px) {
  .info {
    grid-template-columns: repeat(3, 2fr);
  }
}







